/* auth-layout.css */
.auth-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth-body {
    top: 40px;
    left: 0;
    display: flex;
    flex: 1;
}

.auth-main {
    flex: 1;
    padding-top: 50px;
    padding-left: 230px;
    background-color: rgba(0, 0, 0, 0);
}