/* Public Layout */
.public-layout {
    display: inline;
    width: 100%;
    flex-direction: column;
    /* ổn định trên mobile hơn 100vh */
    min-height: 100dvh;
}

.public-header {}

/* Nội dung chính */
.public-layout-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    padding-bottom: 20px;
}

.public-footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .public-layout-content {
        padding: 1rem;
    }
}