/* Nút nổi góc màn hình */
.chatbot-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #2563eb;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.chatbot-btn:hover {
    background-color: #e42e00;
    padding-bottom: 15px;
    border: 2px solid salmon;
}