.footer {
    position: fixed;
    bottom: 0;
    /* dính vào đáy */
    left: 0;
    /* bắt đầu từ bên trái */
    width: 100vw;
    /* phủ trọn chiều ngang */
    z-index: 100;
    background-color: rgb(0, 107, 18);
    color: #ffffffe0;
    text-align: center;
    font-size: clamp(14px, 2vw, 18px);
    padding: 12px 8px;
    border: 2px solid #ffffffa9;    
}


.footer-contact {
    font-size: 12px;
}


.footer-links {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.footer-links a {
    color: #39f500;
    padding: 20px 15px 0 20px;
    text-decoration: none;
}