.header {
    /* Cố định trên viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Chiếm toàn bộ chiều ngang */
    z-index: 1000;
    /* Luôn trên ảnh nền và content */
    background-image: url("/src/assets/Image-header.jpg");
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

/* Logo */
.header-logo {
    font-size: 2rem;
    font-weight: bold;
}

.header-logo-text {
    color: rgb(255, 255, 255);
    text-overflow: clip;
    text-decoration: none;
}

.header-logo-text:hover {
    color: rgba(43, 255, 0, 0.6);
    text-decoration: none;
}

/* Menu */
.header-nav {
    display: flex;
    gap: 16px;
    margin-top: 5px;
    font-size: 18px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.header-nav a:hover {
    color: #00f30c;
    text-decoration: none;
    padding: 2px;
}


.btn-login {
    margin-left: 100px;
    padding: 10px;
    background-color: #00ff4c;
    border-radius: 8px;
    margin-bottom: 6px;
    text-decoration: none;
}

.btn-login:hover {
    color: white !important;
    background-color: rgba(0, 135, 253, 0.9);
    margin-bottom: 10px;
}