.learning-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* co giãn theo container */
    height: 100%;
    /* co giãn theo container */
    object-fit: cover;
    /* phủ kín tương tự background-size: cover */
}