.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.schedule-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.schedule-table-wrapper {
    /* overflow-x-auto; */
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.schedule-table {
    min-width: 720px;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
}

.schedule-table th,
.schedule-table td {
    padding: 0.75rem 1rem;
    border-top: 1px solid #e5e7eb;
    /* gray-200 */
    text-align: left;
}

.schedule-table thead {
    background-color: #f9fafb;
    /* gray-50 */
    color: #6b7280;
    /* gray-600 */
}

.schedule-subtext {
    font-size: 0.75rem;
    color: #6b7280;
    /* gray-500 */
}

.schedule-empty {
    text-align: center;
    color: #6b7280;
    /* gray-500 */
    padding: 1rem 0;
}

/* Tăng chiều cao ô thời gian */
.rbc-time-slot {
    min-height: 40px !important;
}

/* Sự kiện không bị quá nhỏ */
.rbc-day-slot .rbc-event {
    min-height: 40px;
}

/* Hiển thị chữ đẹp & ô đầy */
.rbc-event {
    padding: 4px;
    font-size: 13px;
    border-radius: 6px;
    height: 100% !important;
}

/* Fix text wrap */
.rbc-event-content {
    white-space: normal !important;
}

/* Không để khoảng trắng ở lề phải sự kiện */
.rbc-events-container {
    margin-right: 0 !important;
}