.tuition-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tuition-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tuition-table-wrapper {
    /* overflow-x-auto; */
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.tuition-table {
    min-width: 680px;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem;
}

.tuition-table th,
.tuition-table td {
    padding: 0.75rem 1rem;
    border-top: 1px solid #e5e7eb;
    /* gray-200 */
}

.tuition-table thead {
    background-color: #f9fafb;
    /* gray-50 */
    color: #6b7280;
    /* gray-600 */
}

.tuition-right {
    text-align: right;
    font-weight: 500;
}

.tuition-empty {
    text-align: center;
    color: #6b7280;
    /* gray-500 */
    padding: 1rem;
}