# Dependencies
node_modules/
.pnp.cjs
.pnp.loader.mjs

# Build outputs
dist/
build/
.vercel/
.next/
out/

# Env & local config
.env
.env.*
*.local
# Local environment variables
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage
coverage/
