.courses-table {
    width: 100%;
    border-collapse: collapse;
}

.courses-table th,
.courses-table td {
    padding: 12px 16px;
    border-bottom: 1px solid #e5e7eb;
    /* gray-200 */
    text-align: left;
    font-size: 14px;
}

/* hover */
.courses-table tbody tr:hover {
    background-color: #f9fafb;
    transition: background 0.2s ease-in-out;
}

/* selected row */
.selected-row {
    background-color: #5cbeff !important;
    /* xanh nháº¡t */
    border-left: 4px solid #2563eb;
    font-weight: 600;
}