.header {
    position: fixed;
    /* Cố định trên viewport */
    top: 0;
    left: 0;
    width: 100%;
    /* Chiếm toàn bộ chiều ngang */
    z-index: 1000;
    /* Luôn trên ảnh nền và content */

    background-color: #2563eb;
    /* màu xanh dương */
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    /* Nếu muốn bo góc thì giữ 10px, nhưng fixed thường để 0 */
}

/* Logo */
.header-logo {
    font-size: 2rem;
    font-weight: bold;
}

.header-logo-text {
    color: aliceblue;
    text-overflow: clip;
    text-decoration: none;
}

.header-logo-text:hover {
    color: #00ff2a;
    margin-left: 5px;
    text-decoration: none;
}

/* Menu */
.header-nav {
    display: flex;
    gap: 24px;
    margin-top: 5px;
    font-size: 20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.header-nav a:hover {
    color: #ff0000;
    text-decoration: none;
}

.header-nav .nav-login {
    margin-left: 150px;
    background-color: #00ff4c;
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
}

/* Đẩy nội dung xuống để không bị che header */
body,
.container,
main {
    padding-top: 64px;
    /* = height của header */
}