/* Public Layout */
.public-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Nội dung chính */
.public-layout-content {
    flex: 1;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

/* Chatbot button */
.public-chatbot-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: #2563eb;
    /* xanh dương */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.2s;
}

.public-chatbot-btn:hover {
    background: #1d4ed8;
    /* xanh dậm hơn */
}

/* Responsive */
@media (max-width: 768px) {
    .public-layout-content {
        padding: 1rem;
    }
}

.img-all {
    position: fixed;
    /* Ảnh cố định so với viewport */
    top: 0;
    /* Bắt đầu từ trên cùng */
    left: 0;
    /* Trái 0 */
    width: 100%;
    /* Đầy chiều ngang */
    height: 100%;
    /* Chiều cao toàn màn hình */
    object-fit: cover;
    /* Cắt ảnh đầy đủ mà không méo */
    z-index: -1;
    /* Đưa ảnh xuống dưới content và header */
}