/* ========== RESET CSS CƠ BẢN ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {


  margin: 5px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Input chung */
input,
select,
textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
}